body {
	font-family: Arial, sans-serif;
	background-color: #fcfcfc;
	margin: 0;
	padding: 0;
}

.search-bar-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: 100vh;
}

.search-bar {
	display: flex;
	flex-direction: row;
	justify-content: space-between;

	position: absolute;
	margin-top:-17.5vh;
	width: 38vw;
	height: 4vh;

	border: 1px solid #ccc;
	border-radius: 20px;
	outline:none;
}

.search-bar #url {
	width: 80%;
	height: 100%;
	padding: 0 1vw;
	font-size: 16px;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	border: none;
	outline:none;
}

.search-bar #depth {
	width: 11.5%;
	height: 100%;
	padding: 0 1vw;
	font-size: 16px;
	border:none;
	border-left: 1px solid #ccc;
	outline:none;
}

.search-bar:focus-within  {
	border-color: #8dbc82;
	box-shadow: 0 0 5px #8dbc82;
}

.search-bar button {
	height: 100%;
	width: 8.5%;
	position:relative;
	background-color: #f1f1f1;
	border: none;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	cursor: pointer;
}

.search-bar button:focus {
	outline: none;
}

.search-bar button:hover {
	background-color: #e0e0e0;
}

.search-bar button img {
	width: 20px;
	height: 20px;
}

.logo-wrapper {
	width: 100vw;
	height: 32vh;
	top: 3vh;
	position: fixed;
	display: inline-flex;
	align-items: center;
	justify-content: center;
}

.logo {
	width: 34.5vh;
}

.error {
	margin-top: -7vh;
	color: red;
}

.results-container::-webkit-scrollbar {
  display: none;
}

.results-container {
	-ms-overflow-style: none;  
	scrollbar-width: none;  

	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	overflow-x: scroll;
	width: 100vw;
	height: 46vh;

	top: 47.5vh;
}

.result {
	width: 32.5vw;
	/*height: 12.5vh;*/
	white-space: normal;
	margin-bottom: 2vh;
}

.result a {
	color: #3d3b33; 
	font-weight:700;
	font-size:22px;
}

.result p {
	font-style: italic;
	margin: 0;
}

/* this is so there's no scroll field in the depth bar */ 
#depth::-webkit-outer-spin-button,
#depth::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0; 
}

input[type=number] {
    -moz-appearance:textfield; 
}

@media only screen and (min-width: 900px) and (max-width: 1300px) {
	.search-bar {
		width: 55vw;
	}

	.result {
		width: 45vw;
	}

}

@media only screen and (max-width: 900px) {
	.search-bar {
		width: 80vw;
	}

	.result {
		width: 70vw;
	}

}
